@charset "UTF-8";

/*== DETAILS ==*/

.details {
    padding: 32px;
}

.details .item {
    border-top: 1px solid var(--light-grey);
    padding: 16px 0;
}

.details .item:first-child {
    border: none;
}

.details .item div:nth-child(1) {
    color: var(--medium-grey);
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.details .item span {
    color: black;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;

    background-color: var(--light-purple);
    border-radius: 16px;
    padding: 8px 16px;
    margin: 8px 4px 0 0;
    display: inline-block;
}

/*== FORM ==*/

input,
select {
    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;

    width: 100%;
    outline: none;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
    vertical-align: middle;
}

input::placeholder {
    color: var(--light-grey);
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    color: black;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: var(--lemon-green);
    width: 100%;
    border-radius: 16px;
    padding: 8px;
    margin-top: 32px;
    cursor: pointer;
}

a.button {
    display: block;

    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    background-color: lightcoral;
    margin-top: 8px;
}

/*== INDEX TUTORS ==*/

main.table-container {
    display: block;
    padding: 40px
}

.table-container table {
    width: 100%;
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

th, td {
    padding: 16px;
    border-bottom: 1px solid var(--light-grey);
}

th {
    color: var(--medium-grey);
    text-transform: uppercase;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;

    background-position: center;
    background-size: cover;

    border-radius: 50%;
}

tbody tr td:last-child a,
.table-container > a {
    color: black;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    background-color: var(--lemon-green);
    border-radius: 16px;
    padding: 8px 16px;
}

.table-container > a {
    margin: 0 0 16px 8px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

tbody tr td .subject {
    color: black;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: var(--light-purple);
    border-radius: 16px;
    padding: 8px 16px;
    margin-right: 4px;
    display: inline-block;
}

/* FILTERS */

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.table-container .header form button {
    margin: 0;
}

.table-container .header form input {
    border: 1px solid #eee;
    padding: 4px 8px;
}