{% extends 'layout.njk' %}

{% block head %}
    <title>Tutoring | Tutors</title>

    <link rel="stylesheet" href="/styles/tutors.css">
{% endblock head %}

{% block content %}

    <main id="content">
        <section 
            class="avatar" 
            style="filter: grayscale(100%); background: url({{ tutor.avatar_url }}) no-repeat top center / cover">
        </section>

        <section class="details">
            <form action="/tutors?_method=PUT" method="POST">
                <h3>Edit</h3>

                {% include 'tutors/fields.njk' %}

                <input 
                    type="hidden" 
                    name="id" 
                    value="{{ tutor.id }}"
                >
            </form>

            <form id="form-delete" action="/tutors?_method=DELETE" method="POST">
                <input 
                    type="hidden" 
                    name="id" 
                    value="{{ tutor.id }}"
                >

                <button type="submit">Delete</button>
            </form>
            
        </section>
 
    </main>
    
{% endblock content %}
