{% extends 'layout.njk' %}

{% block head %}
    <title>Tutoring | Tutors</title>

    <link rel="stylesheet" href="/styles/tutors.css">
{% endblock head %}

{% block content %}

    <main id="content">
        <section 
            class="avatar" 
            style="filter: grayscale(100%); background: url(https://source.unsplash.com/collection/11167123/360x560) no-repeat top center / cover">
        </section>
        <section class="details">
            <div class="item">
                <div>Tutor</div>
                <div>Guilherme Saraiva</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>29</div>
            </div>
            <div class="item">
                <div>Education Level</div>
                <div>Bachelor's Degree</div>
            </div>
            <div class="item">
                <div>Education Format</div>
                <div>Online</div>
            </div>
            <div class="item">
                <div>Specialty Subject Areas</div>
                <div>
                    <span>Mathematics</span>
                    <span>Physics</span>
                </div>
            </div>
            <div class="item">
                <div>Since</div>
                <div>02/02/2020</div>
            </div>
        </section>
    </main>

{% endblock content %}