@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#text h1 img {
    width: 250px;
    margin-bottom: 40px;
}

#text h2 {
    color: #4B4B4B;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}

#text p {
    color: #4B4B4B;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: justify;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies img.technology {
    border-radius: 50%;
    width: 65px;
    margin: 0 20px;
}

.technologies img.rocket {
    width: 250px;
}
