@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#text h1 img {
    width: 250px;
    margin-bottom: 40px;
}

#text h2 {
    color: #4B4B4B;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}

#text h3 {
    color:  #7159C1;
    max-width: 350px;
    font-weight: lighter;
    font-size: 18px;
    line-height: 28px;
    text-align: justify; 
}

#image img{
    width: 700px;
    margin: 40px 0 0 150px;
}
