@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-rocket: #7159C1;
}

* {
    padding: 0;
    border: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

#content {
    width: 90%;
    max-width: 850px;
    min-height: 600px;
    margin: 100px auto;
}

/*== MENU ==*/

header#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7159C1;
    padding: 15px 0;
}

#logo-rocketseat img {
    margin-right: 20px;
}

#menu a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    margin: 0 20px;
}

#social {
    margin-left: 20px;
}

#social img {
    opacity: 0.8;
    width: 25px;
    margin: 0 20px;
}

#menu a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid white;
    transition: color 200ms;
}

/*== FOOTER ==*/

footer {
    background-color: #F1EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #4B4B4B;
    font-weight: lighter;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    padding: 30px;
}
