@media (max-width: 800px) {

    header#navigation {
        justify-content: space-around;
        padding: 15px;
    }

    #logo-rocketseat img {
        width: 30px;
    }
    
    #menu {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    #menu a {
        font-size: 14px;
        line-height: 24px;
        margin: 1px 0;
    }
    
    #social {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
    }

    #social img {
        margin: 5px 0 5px 0;
    }

    /*== HOME and ABOUT ==*/

    #text h3 {
        max-width: 850px;
    }

    #content #image img{
        width: 100%;
        margin: 50px 0;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .technologies img.technology {
        border-radius: 50%;
        width: 50px;
        margin: 10px 0 10px 0;
    }
    
    .technologies img.rocket {
        width: 200px;
    }

    /*== CONTENTS ==*/

    header#navigation-contents {
        justify-content: space-around;
        padding: 15px;
        background-color: #0B0A0D;
    }

    #cards {
        max-width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .modal {
        background-color: white;
        width: 75%;
        height: 75%;
        margin: 20% auto;
        position: relative;
    }
}