@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#name-logo img {
    width: 350px;
    margin-bottom: 5vh;
}

#text h1 {
    color: #4B4B4B;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 5vh;
}

#text p {
    color: #4B4B4B;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5vh;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
}

.technologies img.technology {
    border-radius: 50%;
    width: 65px;
    margin: 10vh 5vh;
}

.technologies img.rocket {
    width: 250px;
}
