@media (max-width: 800px){

    header#navigation {
        justify-content: space-around;
        padding: 2vh 2vh 2vh 2vh;
    }

    #logo-rocketseat img {
        width: 5vh;
    }
    
    #menu {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    #menu a {
        font-size: 14px;
        line-height: 24px;
        margin: 1px 0;
    }
    
    #social {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
    }

    #social img {
        margin: 5px 0 5px 0;
    }

    /*== HOME and ABOUT ==*/

    #text h1 img {
        width: 150px;
        margin-bottom: 5vh;
    }
    
    #text h2 {
        color: #4B4B4B;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 2vh;
    }
    
    #text h3 {
        color:  #7159C1;
        font-weight: lighter;
        font-size: 18px;
        line-height: 28px;
        
    }
    
    #text p {
        color: #4B4B4B;
        font-weight: lighter;
        font-size: 18px;
        line-height: 28px;
    }

    #content #image img{
        width: 70vw;
        margin: 8vh 0 0 12vh;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .technologies img.technology {
        border-radius: 50%;
        width: 50px;
        margin: 10px 0 10px 0;
    }
    
    .technologies img.rocket {
        width: 200px;
    }

    /*== CONTENTS ==*/

    header#navigation-contents {
        justify-content: space-around;
        padding: 2vh 2vh 2vh 2vh;
        background-color: #0B0A0D;
    }

    #cards {
        max-width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .modal {
        background-color: white;
        width: 75%;
        height: 75%;
        margin: 10vh auto;
        position: relative;
    }
}