@charset "UTF-8";

#text h1 img {
    width: 250px;
    margin-bottom: 50px;
}

#text h2 {
    color: var(--text-grey);
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
}

#text p {
    color: var(--text-grey);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies img.technology {
    width: 65px;
    border-radius: 50%;
    margin: 0 20px 0 20px;
}

.technologies img.rocket {
    width: 300px;
}
