@charset "UTF-8";

body {
    background-image: url(https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-color: var(--color-dark);
    position: relative;
}

#cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgba(19, 18, 23, 0.9);
    text-align: center;
    padding: 100px 25px;
    margin: 0 25px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content,
.card-info {
    padding: 25px;
}

.card-info {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
}

.card-content,
.card-info p {
    color: white;
    font-size: 18px;
    line-height: 28px;
}

.card-info p.card-price {
    color: var(--color-dark);
    border-radius: 10px;
    margin: 0px 10px;
}

#starter .card-price {
    background-color: var(--color-rocket);
}

#launchbase .card-price {
    background-color: var(--color-orange);
}

#gostack .card-price {
    background-color: var(--color-green);
}

/*== MODAL ==*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 150px auto;
    position: relative;
}

.modal .max-modal {
    position: absolute;
    right: 30px;
    top: 2px;
    cursor: pointer;
}

.modal .close-modal {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

/*== MODAL.ACTIVE ==*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.max {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 6%;
}