@charset "UTF-8";

header#navigation-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B0A0D;
    padding: 2vh 0 2vh 0;
}

body#body-courses {
    background-image: url(https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-color: #0B0A0D;
    font-family: 'Roboto', sans-serif;
}

#cards {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgba(19, 18, 23, 0.9);
    text-align: center;
    padding: 100px 10px 100px 10px;
    margin: 50px 20px 50px 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content,
.card-info {
    padding: 30px;
    margin: 10px;
}

.card-info {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
}

.card-content,
.card-info p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 28px;
}

.card-info p.card-price {
    color: #0B0A0D;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

#footer-courses {
    background-color: #0B0A0D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-courses p {
    color: #4B4B4B;
    padding: 3.5vh;
}

/*== MODAL ==*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 10vh auto;
    position: relative;
}

.modal .max-modal {
    position: absolute;
    right: 30px;
    top: 2px;
    cursor: pointer;
}

.modal .close-modal {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

/*== MODAL.ACTIVE ==*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.max {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 6%;
}