@charset "UTF-8";

body {
    background-image: url(../assets/background-courses.jpeg);
    background-size: cover;
    background-color: var(--color-dark);
    position: relative;
}

#cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgba(19, 18, 23, 0.8);
    display: grid;
    text-align: center;
    padding: 100px 25px;
    margin: 0 25px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-content,
.card-info {
    padding: 25px;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
}

.card-content,
.card-info p {
    color: #868687;
    font-size: 18px;
    line-height: 28px;
}

.card-info p.card-price {
    color: var(--color-dark);
    font-weight: bold;
    border-radius: 10px;
    margin: 0px 10px;
}

#starter .card-price {
    background-color: var(--color-rocket);
}

#launchbase .card-price {
    background-color: var(--color-orange);
}

#gostack .card-price {
    background-color: var(--color-green);
}
