@charset "UTF-8";

body {
    background-image: url(../assets/background-courses.jpeg);
    background-size: cover;
    background-color: var(--color-dark);
}

.course {
    background-color: rgba(29, 29, 36, 0.8);
    display: grid;
    max-width: 800px;
    padding: 100px 50px;
    margin: 0 auto;
}

.course-logo-container img {
    display: block;
    margin: 0 auto;
}

.course-description {
    text-align: center;
    max-width: 400px;
    padding-top: 15px;
    margin: 0 auto;
}

.course-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    max-width: 700px;
    margin: 150px auto;
}

.course-text h1 {
    color: white;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
}

.course-description p,
.course-text p {
    color: var(--text-grey);
    font-size: 18px;
    line-height: 28px;
}

.course-image-container img {
    max-width: 100%;
}

.course-info {
    margin: 0 auto;
}

.course-info a {
    color: var(--color-dark);
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 25px;
}

.course-info:hover {
    transform: scale(1.05);
}

#starter .course-info a {
    background-color: var(--color-rocket);
}

#launchbase .course-info a {
    background-color: var(--color-orange);
}

#gostack .course-info a {
    background-color: var(--color-green);
}