@charset "UTF-8";

#text h1 img {
    width: 250px;
    margin-bottom: 50px;
}

#text h2 {
    color: var(--text-grey);
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
}

#text h3 {
    color: var(--color-rocket);
    font-size: 18px;
    line-height: 28px;
    font-weight: lighter;
    max-width: 350px;  
}

#background-home img {
    width: 700px;
    margin: 50px 0 0 130px;
    display: block;
}
