@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-rocket: #7159C1;
    --color-green: #04D361;
    --color-orange: #FD951F;
    --color-dark: #0B0A0D;
    --text-grey: #868687;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#content {
    width: 90%;
    max-width: 1300px;
    min-height: calc(100vh - 360px);
    margin: 100px auto;
    text-align: justify;
}

/*== MENU ==*/

header {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

#menu {
    display: flex;
    align-items: center;
}

a.menu-logo {
    padding-right: 30px;
    border-right: 1px solid white;
}

a.menu-text {
    color: white;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 3px;
    margin-left: 30px;
}

#social img {
    width: 20px;
    margin: 0 10px;
}

a.menu-text:hover {
    border-bottom: 2px solid white;
    transition: 200ms;
}

/*== FOOTER ==*/

footer {
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

footer p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
}
