@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-rocket: #7159C1;
    --color-green: #04D361;
    --color-orange: #FD951F;
    --color-dark: #0B0A0D;
    --text-grey: #4B4B4B;
}

* {
    padding: 0;
    border: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

#content {
    width: 90%;
    max-width: 1300px;
    margin: 100px auto 100px auto;
    text-align: justify;
}

/*== MENU ==*/

header#navigation {
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

#logo-rocketseat img {
    margin-right: 20px;
}

#menu a {
    color: white;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 3px;
    margin: 0 20px 0 20px;
}

#social {
    margin-left: 20px;
}

#social img {
    width: 25px;
    margin: 0 20px 0 20px;
}

#menu a:hover {
    border-bottom: 2px solid white;
    transition: 200ms;
}

/*== FOOTER ==*/

footer {
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    padding: 30px;
}
