@charset "UTF-8";

#content img {
    width: 450px;
    display: block;
    margin: 10px auto;
}

#text-not-found h1 {
    color: var(--color-rocket);
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#text-not-found h2 {
    color: var(--text-grey);
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    padding: 0 220px;
}