@charset "UTF-8";

#content img {
    width: 450px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#text h1 {
    color:  #7159C1;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding: 10px;
}

#text h2 {
    color: #4B4B4B;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}