@media (max-width: 800px){

    header#navigation {
        justify-content: space-around;
        padding: 20px;
    }

    #logo-rocketseat img {
        width: 35px;
        margin: 0;
    }
    
    #menu {
        display: grid;
    }

    #menu a {
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 5px 0;
    }
    
    #social {
        display: grid;
        margin: 0;
    }

    #social img {
        margin: 5px 0 5px 0;
    }

    /*== HOME and ABOUT ==*/

    #text h1 img {
        width: 180px;
        margin-bottom: 20px;
    }
    
    #text h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    
    #text h3 {
        font-size: 18px;
        line-height: 28px;
        max-width: 100%;
    }

    #background-home img {
        width: 350px;
        display: block;
        margin: 100px auto 0 auto;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .technologies img.technology {
        border-radius: 50%;
        width: 50px;
        margin: 10px 0 10px 0;
    }
    
    .technologies img.rocket {
        width: 200px;
    }

    /*== COURSES ==*/

    #cards {
        max-width: 430px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        margin: 30px 0;
    }

    .modal {
        width: 75%;
        height: 75%;
        margin: 90px auto;
        position: relative;
    }

    /*== NOT-FOUND ==*/

    #not-found img {
        width: 300px;
    }

    #text-not-found h2 {
        padding: 0 80px;
    }
}