@media (max-width: 890px) {

    /*== HEADER ==*/

    /* menu-toggle */

    .menu-section-text {
        display: none;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        margin-left: 30px;
        cursor: pointer;
    }

    .one,
    .two,
    .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    /* menu-fullscreen */

    .header.on {
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    .header.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px,7px);
    }

    .header.on .menu-toggle .two {
        opacity: 0;
    }

    .header.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px,-9px);
    }

    .header.on #menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'home close'
            'menu menu'
        ;
    }

    .header.on .menu-logo {
        grid-area: home;
        padding: 0px;
        border: none;
        margin: 0px auto;
    }

    .header.on .menu-toggle {
        grid-area: close;
        margin: 0px auto;
        transform: scale(0.8);
    }

    .header.on .menu-section-text {
        grid-area: menu;
    }

    .header.on .menu-section-text {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .header.on .menu-text {
        color: rgba(255, 255, 255, 0.6);
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        padding: 10px;
        margin: 0;
        transition-duration: 0.3s;
    }

    .header.on .menu-text:hover {
        color: white;
        border: none;
    }

    .header.on #social {
        display: none;
    }


    /*== HOME and ABOUT ==*/

    #text h1 img {
        width: 220px;
        display: block;
        margin: 0 auto 50px;
    }
    
    #text h2 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #text h3 {
        max-width: 100%;
        text-align: center;
    }

    #text p {
        text-align: center;
    }

    #background-home img {
        display: block;
        max-width: 450px;
        width: 100%;
        margin: 50px auto 0 auto;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .technologies img.technology {
        border-radius: 50%;
        width: 50px;
        margin: 20px 0 20px 0;
    }
    
    .technologies img.rocket {
        width: 230px;
    }

    /*== COURSES ==*/

    #cards {
        max-width: 430px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        margin: 0 0 50px 0;
    }

    /*== COURSE-DESCRIPTION ==*/

    .course-about {
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px auto;
    }

    .course-text h1 {
        text-align: center;
    }

    .course-text p {
        text-align: center;
    }

    .course-image-container img {
        display: block;
        margin: 50px auto 0;
        max-width: 60%;  
    }

    .course-info a {
        display: grid;
        max-width: 250px;
        padding: 15px 25px;
        text-align: center;
    }

    /*== NOT-FOUND ==*/

    #not-found img {
        width: 300px;
    }

    #text-not-found h1 {
        font-size: 24px;
        line-height: 34px;
    }

    #text-not-found h2 {
        font-size: 18px;
        line-height: 28px;
        padding: 0 80px;
    }
}