@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #7159C1;
    padding: 30px;
}

#logo-rocketseat img {
    position: absolute;
    padding-right: 35px;
    border-right: 0.5px solid white;
    left: 250px;
    top: 25px;
}

#social img {
    position: absolute;
    opacity: 0.8;
    width: 30px;
    top: 25px;
}

#menu {
    text-align: left;
    margin-left: 300px;
}

#menu a {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    
    margin: 0px 15px;
    padding-bottom: 5px;
}

#menu a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid white;
    transition: color 200ms;
}

section {
    padding: 30px;
    margin: 100px 200px;
    max-width: 520px;
}

section h1 {
    color:  #7159C1;
    font-size: 50px;
    line-height: 60px;
}

section h2 {
    color: #4B4B4B;
    font-size: 40px;
    line-height: 50px;
    margin-top: 15px;
}

section h3 {
    color:  #7159C1;
    opacity: 0.8;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
}

section p {
    color: #4B4B4B;
    opacity: 0.8;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    max-width: 500px;
    margin-bottom: 30px;
}

ul.technologies li {
    color: #4B4B4B;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
    max-width: 500px;
}

figure.logo-rocketseat-circle img {
    position: relative;
    width: 380px;
    top: -500px;
    left: 700px;
    border-radius: 50%;
    border: 20px #7159C1 groove;
    opacity: 0.9;
}

figure.draw img {
    position: relative;
    width: 550px;
    top: -350px;
    left: 650px;
    opacity: 0.9;
}