{% extends 'layout.njk' %}

{% block head %}

    <title>Rocketseat | About</title>
    <link rel="stylesheet" href="/styles/about.css">

{% endblock %}

{% block content %}

    <main id="content">
        <div id="text">
            <h1><img src="/assets/rocketseat.png" alt="name-logo"></h1>
            <h2>About us</h2>
            <p>
                More than a technology education platform, we are an incredible community of programmers always looking for the next level! <br><br>
                Imagine you mastering the same technologies used by companies such as: Nubank, Netflix, Uber, Instagram and Airbnb. <strong>Learn Javascript, NodeJS, ReactJS, React Native and more! Are you ready to launch?</strong>  
            </p>
        </div>

        <div class="technologies">
            <div class="column">
                <img class="technology" src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="Javascript">
                <img class="technology" src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="NodeJS">
            </div>

            <img class="rocket" src="/assets/undraw_rocket.svg" alt="rocket">

            <div class="column">
                <img class="technology" src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="ReactJS">
                <img class="technology" src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="React Native">
            </div>
        </div>
    </main>

{% endblock %}