{% extends 'layout-dark.njk' %}

{% block head %}

    <title>Rocketseat | Courses</title>

    <link rel="stylesheet"href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/courses.css">

{% endblock %}

{% block content %}

    <main id="content">
        <section id="cards">

            {% for item in items %}
                <div class="card" id="{{ item.id }}">
                    <div class="card-image-container">
                        <img src="{{ item.image }}" alt="{{ item.id }}">
                    </div>
                    <div class="card-content">
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="card-info">
                        <p>{{ item.modules }}</p>
                        <p class="card-price">{{ item.price }}</p>
                    </div>
                </div>
            {% endfor %}

        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="max-modal">
                    <span class="material-icons">fullscreen</span>
                </a>

                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </main>

    <script src="/scripts.js"></script>

{% endblock %}