{% extends 'layout-dark.njk' %}

{% block head %}

    <title>Rocketseat | {{course.id}}</title>

    <link rel="stylesheet" href="/styles/course-description.css">

{% endblock %}

{% block content %}

    <main id="content">
        <div class="course" id="{{ course.id }}">
            <section class="course-intro">
                <div class="course-logo-container">
                    <img src="{{ course.logo }}" alt="logo - {{ course.id }}">
                </div>
                <div class="course-description">
                    <p>{{ course.description }}</p>
                </div>
            </section>
            <section class="course-about">
                <div class="course-text">
                    <h1>What is this course about?</h1>
                    <p>{{ course.text }}</p>
                </div>
                <div class="course-image-container">
                    <img src="{{ course.image }}" alt="image - {{ course.id }}">
                </div>
            </section>
            <section class="course-info">
                <a href="https://rocketseat.com.br/{{ course.id }}" target="_blank">Guarantee your place in the next class!</a>
            </section>
        </div>
    </main>

    <script src="/scripts.js"></script>

{% endblock %}