{% extends 'layout.njk' %}

{% block head %}

    <title>Rocketseat | Home</title>
    <link rel="stylesheet" href="/styles/home.css">

{% endblock %}

{% block content %}

    <main id="content">
        <section id="text">
            <h1><img src="/assets/rocketseat.png" alt="name-logo"></h1>
            <h2>The best programming technologies, straight to the point and in the right way.</h2>
            <h3>Amid so much information and the amount of tools that come up every day, you need someone to take you in the right direction.</h3>
        </section>
        <figure id="background-home">
            <img src="/assets/undraw_code_thinking.svg" alt="undraw_code_thinking">
        </figure>
    </main>

{% endblock %}