<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Rocketseat</title>
        {% endblock %}

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles/main-dark.css">
        <link rel="stylesheet" href="/styles/responsive-dark.css">
    </head>

    <body>
        <header class="header">
            <nav id="menu">
                <a class="menu-logo" href="/"><img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="logo-rocketseat"></a>
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <div class="menu-section-text">
                    <a class="menu-text" href="/about">ABOUT</a>
                    <a class="menu-text" href="/courses">COURSES</a>
                    <a class="menu-text" href="https://discordapp.com/invite/gCRAFhc" target="_blank">COMMUNITY</a>
                    <a class="menu-text" href="mailto:oi@rocketseat.com.br">EMAIL</a>
                    <a class="menu-text" href="tel:+5547992078767">PHONE</a>
                </div>
            </nav>
            <div id="social">
                <a href="https://www.facebook.com/rocketseat" target="_blank"><img src="/assets/facebook.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"><img src="/assets/instagram.svg" alt="instagram"></a>
                <a href="https://github.com/Rocketseat" target="_blank"><img src="/assets/github.svg" alt="github"></a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        
        <footer>
            <p>Made by <strong>Mariane Algayer © 2020</strong></p>
        </footer>

        <script src="/scripts.js"></script>
    </body>

</html>