{% extends 'layout.njk' %}

{% block head %}

    <title>Rocketseat | Not found</title>
    <link rel="stylesheet" href="/styles/not-found.css">

{% endblock %}

{% block content %}

    <main id="content">
        <figure id="not-found" >
            <img src="/assets/undraw_taken.svg" alt="taken">
        </figure>
        <div id="text">
            <h1>404 Error</h1>
            <h2>Looks like the page you are looking for has been taken...</h2>
        </div>
    </main>
    
{% endblock %}