{% extends 'layout.njk' %}

{% block head %}
    <title>Tutoring | Students</title>

    <link rel="stylesheet" href="/styles/students.css">
{% endblock head %}

{% block content %}

    <form class="content" action="/students" method="POST">
        <section 
            class="avatar" 
            style="background: url(https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png) no-repeat bottom center / cover">
        </section>
        <section class="details">
            
            <h3>New student</h3>

            {% include 'students/fields.njk' %}

        </section>
    </form>

{% endblock content %}
