{% extends 'layout.njk' %}

{% block head %}
    <title>Tutoring | Tutors</title>

    <link rel="stylesheet" href="/styles/tutors.css">
{% endblock head %}

{% block content %}

    <main id="content">
        <p>The content will be placed here :)</p>
    </main>

{% endblock content %}